.button_search{
display:block;
margin-bottom: 10px;
height: 30px;
width: 15%;
background-color: rgb(240, 247, 244);
color:rgb(158, 235, 231);
border-radius: 20px;
border: 2px solid rgb(158, 235, 231);

}

.button_add{
display: block;
margin-bottom: 10px;
height: 40px;
width: 40px;
background-color: rgb(67, 235, 184);
color: white;
border-color: rgb(4,173,123);
border-radius: 50px;
border:none;

}
.button_Account{
display: block;
width: 150px;
background-color:rgb(8, 8, 177);
color: aliceblue;
border: 2px solid black;
box-shadow: 3px 3px black;
}