* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


h1, p {
    text-align: center;
    margin-top: 50px;
}

.container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

a {
    margin: 25px 25px;
    padding:25px;
    font-size:20px;
    border-radius: 20px;
}

.click {
    text-decoration: none;
    background-color: rgb(16, 129, 211);
    color:white;

}

.reset {
    text-decoration: none;
    background-color: rgb(223, 29, 90);
    color:white;
}