*{
    padding: 0;
    margin: 0;
}
#box{
    width: auto;
    height: 80px;
    background-color: rgb(84, 84, 216)}
#image1{
position:absolute;
top: 5%;
margin-left: 20px;
}
h1{
    position:relative;
    top: 30px;
    margin: 20px;
}
.marker{
